<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Exclusão de projeto</div>
                <div class="panel-body">
                    <p>Deseja realmente excluir este projeto ?</p>
                        <ul>
                            <li><strong>Nome:</strong>{{ projeto.nome }}</li>
                            <li><strong>Inicio:</strong>{{ projeto.inicio | date:'dd-MM-yyyy' }}</li>
                            <li><strong>Termino:</strong>{{ projeto.termino | date:'dd-MM-yyyy' }}</li>
                            <li><strong>Cliente:</strong>{{ projeto.cliente.nome }}</li>
                            <li><strong>Descrição:</strong>{{ projeto.descricao}}</li>

                        </ul>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="button" class="btn btn-danger" ng-click="remover()">Excluir</button>

                            </div>
                        </div>

                </div>
            </div>
        </div>
    </div>
</div>

